{% include 'recipes/partials/head.html' %}

<body>

    <header class="main-header-container">
        <div class="main-header container">
            <h1>
                <a class="main-logo" href="/">
                    <i class="fas fa-utensils main-logo-icon"></i>
                    <span class="main-logo-text">Recipes</span>
                </a>
            </h1>
        </div>
    </header>

    <footer>
        <a class="repository-link" href="https://github.com/DesMaya?tab=repositories" target="_blank">
            <p>
                By <i class="fa-solid fa-star"></i> {{ name }} <i class="fa-solid fa-star"></i>
            </p>
        </a>
    </footer>

</body>

</html>